@charset "utf-8";

body {
  text-align: center;
  font-family: sans-serif; }

.vote-widget {
  .make-row();
}

.chart {
.make-sm-column(6);
}

.chart div {
  width: 25px;
  height: 25px;
  display: inline-block;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart div.Y {
  background-color: darkgreen;
}

.chart div.N {
  background-color: firebrick;
}

.chart div.A {
  background-color: lightgray;
}

.chart div.E {
  background-color: lightblue;
}
